.hrac{
   &__inner{
      display: flex;
      background-color: $dark-red;
      color: #fff;
      justify-content: center;
      height: 670px;
      padding: 0 48px;
   }
   &__img{
      max-width: 50%;
      flex: 0 0 50%;
      height: 100%;
      img{
         width: 100%;
         height: 100%;
         display: block;
         object-fit: cover;
         object-position: top;
      }
   }
   &__content{
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 34px;
      flex-direction: column;
      display: flex;
      justify-content: flex-end;
      padding-bottom: 122px;
      h1{
         margin-left: 24px;
         span{
            display: block;
            font-size: 2.5rem;
            margin-top: 6px;
         }
      }
   }
   &__list{
      margin-top: 32px;
      li{
         display: flex;
         font-size: 1.25rem;
         margin-top: 13px;
         align-items: center;
         span{
            margin: 0 24px;
            border-radius: 5px;
            padding: 7px 16px 6px 16px;
            background-color: $red;
            font-size: 0.875rem;
         }
      }
   }
   &__num{
      font-size: 8.125rem;
      color: $red;
      opacity: 0.3;
      font-weight: 800;
      margin-left: 24px;
      line-height: 133%;
   }
}

@media(max-width:1240px){
  
   .hrac__inner{
      padding: 0 32px;
      height: 600px;
   }
   .hrac__content{
      padding-right: 0;
      padding-bottom: 32px;
   }
   .hrac__num{
      font-size: 6rem;
   }
   .hrac__num,
   .hrac__content h1,
   .hrac__list li span{
      margin-left: 0;
   }
}

@media(max-width:940px){
   .hrac__content{
      background-color: $dark-red;
      max-width: 100%;
      flex: 100%;
      width: 100%;
    
      h1{
         text-align: center;
      }
   }
   .hrac__img{
      
      flex: 100%;
      height: 100%;
      width: 100%;
   }
   .hrac__num{
      text-align: center;
   }
   .hrac__inner{
      padding: 0;
      background: rgba(168,7,35,0.1);
      flex-direction: column;
      height: auto;
      align-items: center;
      
   }
   .fotogallerie__item{
      max-width: 33.333%;
      flex: 0 0 33.333%;
   }
}
@media(max-width:680px){
   .fotogallerie__item{
      max-width: 50%;
      flex: 0 0 50%;
   }
}
@media(max-width:540px){
   .hrac__img{
      max-width: 100%;
   }
   .hrac__content{
      padding: 0 16px 32px;
   }
   .hrac__num{
      font-size: 4rem;
   }
   .hrac__content h1 span{
      font-size: 2rem;
      margin-top: 0;
   }
   .hrac__content h1 {
      font-size: 1.5rem;
   }
}
@media(max-width:420px){
   .fotogallerie__item span{
      font-size: 2rem;
   }
   .fotogallerie__item{
      height: 110px;
   }
}